
.list-group.list-group-borderless {
  .list-group-item {
    border: none;
    background-color: #f3f7f4;
  }
}

.list-group.list-group-striped {
  .list-group-item:nth-of-type(odd) {
    background-color: #f3f7f4;
    border-radius: 5px;
  }
}

.list-group-flush .list-group-item:first-of-type {
  border-top: none;
}